<%= render 'shared/error.html.erb' %>
<div class="col-md-4 col-md-offset-4">
<h1 class="text-center">Edit a cat!</h1>

<form action="<%= cat_url(@cat) %>" method="POST" role="form">
  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">
    
  <input type="hidden" name="_method" value="PATCH">

  <div class="form-group">
  <label for="cat_name">Name</label>
  <input type="text" 
        name="cat[name]" 
        id="cat_name" 
        value="<%= @cat.name %>"
        class="form-control"
        placeholder="Name">
  <div>
    
   <fieldset class="sex-fieldset"> 
   <legend class="sex-field">Sex</legend>
        
  <div class="radio form-control">
 
  <% Cat::SEX.each do |sex| %>
    <label for="cat_sex">
    <input type="radio"
           name="cat[sex]"
           value="<%= sex %>"
           <%= "checked" if @cat.sex == sex %>
           id="cat_sex">
      <%= sex == "M" ? "Male" : "Female"%>
    </label>
  <% end %>
</div>
</fieldset>
 
  <label for="cat_color">Color</label>
  <select name="cat[color]" id="cat_color" class="form-control">
    <option></option>
    <% Cat::COLOR.each do |color| %>
      <option 
        value="<%= color %>" 
        <%= "selected" if @cat.color == color %>>
        <%= color %>
      </option>
    <% end %>  
  </select>
  <br>
  
  <label for="cat_birth_date">Birthdate</label>
  <% today = Date.today%>
  <input type="date"
         name="cat[birth_date]"
         value="<%= @cat.birth_date %>"
         max="<%= "#{today.year}-#{today.month}-#{today.day}"%>"
         class="form-control"
         id="cat_birth_date" >
  <br>
  
  <label for="cat_description">Description</label>
  <textarea name="cat[description]"
            id="cat_description"
            class="form-control"
            placeholder="Enter description"><%= @cat.description %></textarea>
  <br>
  <div class="gravatar_edit">
    <%= gravatar_for @cat %>
    <a href="http://gravatar.com/emails">change</a>
  </div>
  <button type="submit" class="btn btn-primary btn-lg col-md-offset-4">Edit the cat!</button>
</form>
</div>